# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
.idea
local_settings.py
local.conf
logs
schema.mwb.bak
DEBIAN
*.deb
dump.rdb
uploads
profile-report.txt